<div class="container">
  <h1 class="text-center mt-4 mb-4">WebCam Example</h1>

  <div class="row mb-5">
    <div class="col-12">
      <div class="card">
        <div class="card-body d-flex justify-content-center">
          <video class="rounded-lg bg-light" height="400" #video></video>
        </div>
      </div>
    </div>
  </div>

  <div class="row mb-5">
    <div class="col-12 text-center">
      <ng-container *ngFor="let camera of cameras$|async">
        <button class="btn btn-primary mr-2 mb-2" [class.disabled]="(current$|async)===camera.id"
                (click)="start(camera.id)">
          START {{camera.title}}
        </button>
      </ng-container>
      <button class="btn btn-danger mr-2 mb-2" [class.disabled]="!(current$|async)" (click)="stop()">
        Turn off
      </button>
      <button class="btn btn-secondary mb-2" [class.disabled]="!(current$|async)" (click)="snap()">
        Take a snap
      </button>
    </div>
  </div>

  <canvas class="d-none" #capture></canvas>

  <div class="row mb-5">
    <div class="col-12">
      <div class="card">
        <div class="card-body text-center">
          <div class="w-100 overflow-auto text-nowrap" #snapshot></div>
          <p class="text-muted small mt-0 mb-0">Press 'Take a snap' to take a camera stream snapshot</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="fixed-bottom">
  <p class="text-muted small text-right mb-0 p-2">
    Snapshots are only append to DOM and they are not sent to any server
  </p>
</div>
